{% paginate collection.products by limit %} 
{% include 'breadcrumb' %}
<div class="product-main">
  <div class="container">
    <div class="row">
      <div class="{% if settings.collection_sidebar_position != 'none' %}col-md-9{% else %}col-md-12{% endif %} collection_content {% if settings.collection_sidebar_position == 'left' %}f-right{%endif%}"> 
        {% if collection.description != blank %} 
        <div class="collection-main-banner">
          {% if settings.language_enable %}
          <div class="lang1">{{ collection.description | split: '[lang2]' | first }}</div>
          <div class="lang2">{{ collection.description | split: '[lang2]' | last }}</div>
          {% else %}
          {{ collection.description | split: '[lang2]' | first }}
          {% endif %}
        </div>
        {% endif %}
        <div id="collection-main">
          <div class="toolbar top_toolbar">
            {% include 'collection-sorting' %}
          </div>  
          <div class="category-products products-spacing-{{settings.space_product}}">
            <ul id="products-grid" class="products-grid columns{{settings.collection_columns}} {% if settings.collection_flex_grid != blank %}flex-grid{% endif %} {% if settings.collection_move_actions != blank %}move-action{% endif %}">
              {% for product in collection.products %} 
              {% assign productIndex = forloop.index | minus:1 %}
              {% assign delayTime = settings.time_lazy_load | times : productIndex %} 
              <li class="item product {% if settings.collection_view_mode == 'grid' %}product-layout-grid{% else %}product-layout-list{% endif %}">
                <div class="item-effect">
                  {% include 'product-grid-item' %} 
                </div>  
              </li> 
              {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}  
              {% unless emptyState %}
              {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
              {% assign emptyState = true %}
              {% endunless %}
              {% include 'onboarding-empty-collection' %} 
              {% else %}  
              <li><p>{{ 'collections.general.no_matches' | t }}</p> </li>
              {% endif %} 
              {% endfor %}
            </ul>
          </div>  
          <div class="toolbar-bottom">
            <div class="toolbar">
              {% include 'collection-sorting-bottom' %}
            </div> 
          </div>
        </div>
      </div>
      {% if settings.collection_sidebar_position != 'none' %}
      <div class="col-md-3 sidebar {% if settings.collection_sidebar_position == 'left' %}col-left f-left{% else %}col-right{% endif %}">
        {% include 'collection-sidebar' %}
      </div> 
      {% endif %}
    </div>
  </div>
</div>
{% endpaginate %}
