<div class="site-sticky-logo logo_sticky">
  <a href="/" rel="home">  
    {%- if settings.logo_sticky_svg != '' -%}
    <img src="{{ settings.logo_sticky_svg | asset_url }}" style="max-width:{{settings.logo_sticky_width | remove: 'px' | append: 'px' }};" alt="{{ image.alt | default: shop.name }}"/>
    {%- else -%}
    {%- if settings.logo_sticky != blank -%} 
    <img src="{{ settings.logo_sticky | img_url: logo_sticky_size }}" alt="{{ image.alt | default: shop.name }}"/> 
    {%- else -%}
    {{shop.name}}
    {%- endif -%}
    {%- endif -%} 
  </a>
</div>