<ul class="add-to-links">
  <li><a href="javascript:;" data-product-handle="{{product.handle}}" data-product-title="{{product.title}}" class="link-wishlist" title="{{'wish_list.general.add_to_wishlist' | t}}"><i class="icon-wishlist"></i><span {% if settings.language_enable %}data-translate="wish_list.general.add_to_wishlist"{% endif %}>{{ 'wish_list.general.add_to_wishlist' | t }}</span></a></li>
  <li><a href="javascript:;" data-product-handle="{{product.handle}}" data-product-title="{{product.title}}" class="link-compare" title="{{'compare_list.general.add_to_compare' | t}}"><i class="icon-compare"></i><span {% if settings.language_enable %}data-translate="compare_list.general.add_to_compare"{% endif %}>{{ 'compare_list.general.add_to_compare' | t }}</span></a></li>
</ul>