{% if section.blocks.size > 0 %}
{% assign col = 12 | divided_by: section.blocks.size %}
{% else %}
{% assign col = 4 %}
{% endif %}
<div data-section-id="{{ section.id }}" data-section-type="banner-section">
  <div class="banner_grid border-radius" style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.section_padding}};">
    <div class="container">
      <div class="row" style="margin-left:-{{section.settings.space_banner}}px;margin-right:-{{section.settings.space_banner}}px;">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.settings.banner_image != blank %}
        {% assign banner_image = block.settings.banner_image | img_url: 'master' %}
        {% else %}
        {% assign banner_image = 'img270x200.png' | asset_url %}
        {% endif;%}
        <div class="col-sm-{{ col }} col-xs-6" style="padding-left:{{section.settings.space_banner}}px;padding-right:{{section.settings.space_banner}}px;padding-bottom:15px;">
          <a href="{{ block.settings.banner_link }}" class="image-link">
            <img src="{{ banner_image }}" width="270" height="200"/>
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div> 
    </div> 
  </div>
</div>
{% schema %}
{
  "name": "Banner Grid",
  "max_blocks": 4,
  "settings": [  
    {
      "type": "header",
      "content": "Section Settings"
    }, 
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section margin top",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section margin bottom",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
    },
    {
      "type": "header",
      "content": "Banner Settings"
    }, 
    {
      "type": "select",
      "id": "space_banner",
      "label": "Space between banner",
      "options": [
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "25",
          "label": "25"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "15",
          "label": "15"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "0",
          "label": "0"
        }
      ],
      "default": "7"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Banner Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Home Banner Image"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Banner Grid",
    "category": "Banner",
    "settings": { 

    },
    "blocks": [ 
      {
        "type": "image"
      },
      {
        "type": "image"
      },
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
