{% if section.blocks.size > 0 %}
{% assign col = 12 | divided_by: section.blocks.size %}
{% else %}
{% assign col = 4 %}
{% endif %}
<style>
  .banner_text_{{ section.id }} .home-banner [class^="col-sm-"] .content h2 {color:{{section.settings.title_color}};}
  .banner_text_{{ section.id }} .home-banner [class^="col-sm-"] .content a {color:{{section.settings.buttn_text_color}};border-color:{{section.settings.buttn_border_color}};background-color:transparent;}
</style>
<div data-section-id="{{ section.id }}" data-section-type="banner-section">
  <div style="background-color:{{section.settings.bg_section_color}};margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.section_padding}};">
    <div class="banner_text_{{ section.id }} banner_text_5 container">
      <div class="home-banner" style="padding:0;">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        <div class="col-sm-{{col}} col-xs-12" style="padding:0;position:relative;"> 
          {% if  block.settings.banner_image != blank  %}
          {% assign img_url = block.settings.banner_image | img_url: '450x237' %}
          {% else %}
          {% assign img_url = 'img380x200.png' | asset_url  %}
          {% endif %}
          <img src="{{ img_url }}" width="380" height="200"/>
          <div class="content">
            {%if block.settings.banner_title != ''%}
            <h2>
              {% if settings.language_enable %}
              <span class="lang1">{{ block.settings.banner_title | split: '|' | first }}</span>
              <span class="lang2">{{ block.settings.banner_title | split: '|' | last }}</span>
              {% else %}
              {{ block.settings.banner_title | split: '|' | first }}
              {% endif %}
            </h2>
            {% endif %}
            {%if block.settings.button_text != blank%}
            <a href="{{ block.settings.banner_link }}" class="btn btn-default"> 
              {% if settings.language_enable %}
              <span class="lang1">{{ block.settings.button_text | escape | split: '|' | first }}</span>
              <span class="lang2">{{ block.settings.button_text | escape | split: '|' | last }}</span>
              {% else %}
              {{ block.settings.button_text | escape | split: '|' | first }}
              {% endif %}
            </a>
            {% endif %}
          </div>            
        </div>
        {% endfor %}
        {% endif %}
      </div> 
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Banner Text 5",
  "max_blocks": 4,
  "settings": [ 
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "bg_section_color",
      "label": "Section background color",
	  "default": "#efefef"
    }, 
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section margin top",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section margin bottom",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
    }, 
	{
      "type": "header",
      "content": "Content Color"
    }, 
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
	  "default": "#323c54"
    },
    {
      "type": "color",
      "id": "buttn_text_color",
      "label": "Button Text Color",
	  "default": "#61605a"
    },
    {
      "type": "color",
      "id": "buttn_border_color",
      "label": "Button Border Color",
	  "default": "#e1ddc3"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type":"text",
          "id":"banner_title",
          "label":"Banner Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Banner Text 5",
    "category": "Banner",
    "settings": { 

    },
    "blocks": [ 
      {
        "type": "image",
		"settings": {
          "banner_title": "Sunglasses" 
        } 
      },
      {
        "type": "image",
		"settings": {
          "banner_title": "Woman Dress" 
        } 
      },
      {
        "type": "image",
		"settings": {
          "banner_title": "Woman Bags" 
        } 
      }
    ]
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
