<!-- /templates/product.quickview.liquid --> 
{%- layout none -%}
{% assign variant_tmp = product.selected_or_first_available_variant | default: product.variants.first %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %} 
{% assign media_col = settings.product_image_size %} 
{% assign main_col = 12 | minus: settings.product_image_size %}  
<div class="product-quick-view product-view">
  <div class="product-essential">  
    <div class="product-img-box col-sm-{{media_col}}">
      <div class="product-img-list">
        {% include 'media-quickview' %}
      </div>
    </div> 
    <div class="product-shop col-sm-{{main_col}}">
      <div class="product-shop-wrapper"> 
        <div class="product-name top-product-detail">
          <h2>
            <a href="{{ product.url | within: collection }}"> 
              {% if settings.language_enable %}
              <span class="lang1">{{ product.title | split: '|' | first }}</span>
              <span class="lang2">{{ product.title | split: '|' | last }}</span>
              {% else %}
              {{ product.title | split: '|' | first }}
              {% endif %}
            </a>
          </h2> 
        </div>
        <div class="review-product-details">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div> 
        {% if settings.product_short_desc != '0' %}
        <div class="short-description-detail">
          <div class="short-description">
            {%- assign description = product.description -%}  
            {%- if product.description contains '[shortdesc]' and settings.product_short_desc == '1' -%} 
            {%- assign last = description | split:'[shortdesc]' | last -%} 
            {%- assign description = last | split:'[/shortdesc]' | first -%} 
            {%- else -%}
            {%- if product.description contains '[countdown]' -%}
            {%- assign description = description | split:'[/countdown]' | last -%}  
            {%- endif -%}
            {%- if product.description contains '[shortdesc]' -%}
            {%- assign description = description | split:'[/shortdesc]' | last -%}  
            {%- endif -%}
            {%- if product.description contains '[additional]' -%}
            {%- assign description = description | split:'[/additional]' | last -%}  
            {%- endif -%}  
            {%- if settings.product_short_desc == '1' -%}  
            {%- assign description = description | strip_html | truncatewords: 30 -%}
            {%- endif -%}
            {%- endif -%}  
            {%- if settings.language_enable -%}
            <div class="lang1">{{ description | split: '[lang2]' | first }}</div>
            <div class="lang2">{{ description | split: '[lang2]' | last }}</div>
            {%- else -%}
            {{ description | split: '[lang2]' | first }}
            {%- endif -%} 
          </div>
        </div> 
        {% endif %}
        <div class="middle-product-detail">
          <div class="product-type-data">
            <div class="price-box"> 
              <div id="price" class="detail-price" itemprop="price">                             
                {% if variant_tmp.compare_at_price > variant_tmp.price %}
                <s class="old-price"> {{ variant_tmp.compare_at_price | money }}</s>
                <!--span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span-->
                {% endif %} 
                <div class="price">{{ variant_tmp.price | money }}</div> 
              </div>
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" /> 
              {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock" />
              {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock" />
              {% endif %}
            </div>
          </div>                     
          {% if settings.product_availability %}
          <div class="product-inventory">  
            <span {% if settings.language_enable %}data-translate="products.product.availability"{% endif %}>{{ 'products.product.availability' | t }} </span> 
            <span class="in-stock">
              {% if product.selected_or_first_available_variant.inventory_management %}
              {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
              {% if first_inventory > 0 %}
              {{first_inventory}} {{ 'products.product.in_stock' | t }}
              {% else %}
              {{ 'products.product.out_of_stock' | t }}
              {% endif %}
              {% else %}
              {{ 'products.product.many_in_stock' | t }}
              {% endif %}
            </span>
          </div> 
          {% endif %}
          {% if settings.product_sku %}
          {% assign current_variant = product.selected_or_first_available_variant %}
          <div class="product-sku"><span {% if settings.language_enable %}data-translate="products.product.sku"{% endif %}>{{ 'products.product.sku' | t }} </span><span class="sku">{{ current_variant.sku }}</span></div>
          {% endif %}   
          {% if product.description contains '[countdown]' %}            
          {% assign count_down_first = product.description | split:'[/countdown]' | first %}
          {% assign count_down_final = count_down_first | split:'[countdown]' | last %} 
          <div class="bottom-product-dailydeal bottom-home-dailydeal">  
            <span class="title" {% if settings.language_enable %}data-translate="products.product.count_down"{% endif %}>{{'products.product.count_down' | t }} </span><div class="product-date" data-date="{{ count_down_final }}"></div>
          </div> 
          {% endif %} 
        </div> 
        <div class="product-type-main">  
          <form class="product-form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{product.id}}" data-id="{{ product.handle }}"> 
            <div class="product-options" {% if product.options.size == 1 and product.options.first == 'Title' %}style="display: none;"{% endif %}> 
              <select id="quick-product-selectors" name="id" style="display: none;">
                {% for variant in product.variants %}
                {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{'products.product.sold_out' | t}}
                </option>
                {% endif %}
                {% endfor %}
              </select> 
            </div>  
            <div class="product-options-bottom"> 
              <div class="add-to-cart-box">
                <div class="input-box pull-left"> 
                  <input type="text" id="qty" name="quantity" value="1" min="1" class="quantity-selector"> 
                  <div class="plus-minus">
                    <div class="increase items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                      <i class="icon-up-dir"></i>
                    </div>
                    <div class="reduced items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                      <i class="icon-down-dir"></i>
                    </div>
                  </div>
                </div>
                <div class="actions">
                  <div class="action-list addtocart">
                    <div class="button-wrapper">
                      {% if product.available %}
                      <div class="button-wrapper-content">
                        <i class="icon-cart"></i> 
                        <button type="submit" name="add" class="btn-cart add-to-cart bordered uppercase">                      
                          <span>
                            <span {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }}</span>
                          </span>
                        </button> 
                      </div>
                      {% else %} 
                      <div class="button-wrapper-content">
                        <i class="icon-cart"></i>
                        <button href="javascript:;" class="btn-cart add-to-cart">
                          <span>
                            <span {% if settings.language_enable %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</span>
                          </span>
                        </button>  
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% if settings.disable_addtolink == blank %}
                  <div class="action-list wishlist">
                    {% include 'wishlist-item'%}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </form>   
        </div>
      </div>
    </div> 
  </div>
  <script>
    productsObj.id{{product.id}} = {{product | json}};
    selectCallback = function(variant, selector) {
      if (variant) {
        if (variant.compare_at_price > variant.price) { 
          $("#price").html('<del class="price_compare">' + Shopify.formatMoney(variant.compare_at_price, money_format) + "</del>" + '<div class="price">' + Shopify.formatMoney(variant.price, money_format) + "</div>")
        } else {
          $("#price").html('<div class="price">' + Shopify.formatMoney(variant.price, money_format) + "</div>");
        }
        if (variant.available) {
          frontendData.enableCurrency && currenciesCallbackSpecial("#price span.money"), 
            $(".product-quick-view .add-to-cart").removeClass("disabled").removeAttr("disabled").html(window.inventory_text.add_to_cart), 
            variant.inventory_management && variant.inventory_quantity <= 0 ? ($("#selected-variant").html(selector.product.title + " - " + variant.title), $("#backorder").removeClass("hidden")) : $("#backorder").addClass("hidden");
          if (variant.inventory_management!=null) {
            $(".product-inventory span.in-stock").text(window.inventory_text.in_stock);
          } else {
            $(".product-inventory span.in-stock").text(window.inventory_text.many_in_stock);
          }
          $('.product-sku span.sku').text(variant.sku);
        }else{
          $("#backorder").addClass("hidden"), $(".product-quick-view .add-to-cart").html(window.inventory_text.sold_out).addClass("disabled").attr("disabled", "disabled");
          $(".product-inventory span.in-stock").text(window.inventory_text.out_of_stock);
          $('.product-sku span.sku').empty();
        }
        if(swatch_color_type == '1' || swatch_color_type == '2'){ 
          var form = $('#' + selector.domIdPrefix).closest('form');
          for (var i=0,length=variant.options.length; i<length; i++) {
            var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
            if (radioButton.size()) { 
              radioButton.get(0).checked = true;
            }
          } 
        }  
      } 
      if (variant && variant.featured_image) {
        var n = Shopify.Image.removeProtocol(variant.featured_image.src);   
        $(".product-image-thumbs .thumb-link").filter('[data-zoom-image="' + n + '"]').trigger("mouseenter"); 
      }
      variant && variant.sku ? $("#sku").removeClass("hidden").find("span").html(variant.sku) : $("#sku").addClass("hidden").find("span").html("");
    };
    convertToSlug= function(e) { 
      return e.toLowerCase().replace(/[^a-z0-9 -]/g, "").replace(/\s+/g, "-").replace(/-+/g, "-")
    };
    jQuery(function($) {
      {% if product.available and product.variants.size >= 1 %} 
      var product = {{product | json}};
      var layout = $('.product-quick-view'); 
      if (product.variants.length >= 1) { //multiple variants
        for (var i = 0; i < product.variants.length; i++) {
          var variant = product.variants[i];
          var option = '<option value="' + variant.id + '">' + variant.title + '</option>'; 
          layout.find('form.product-form > select').append(option);
        }
        new Shopify.OptionSelectors("quick-product-selectors", {
          product: product,
          onVariantSelected: selectCallback, 
          enableHistoryState: true
        });

        //start of quickview variant;
        var filePath = asset_url.substring(0, asset_url.lastIndexOf('/'));
        var assetUrl = asset_url.substring(0, asset_url.lastIndexOf('/'));
        var options = ""; 
        for (var i = 0; i < product.options.length; i++) {
          options += '<div class="swatch clearfix" data-option-index="' + i + '">';
          options += '<div class="header">' + product.options[i] + '</div>';
          var is_color = false;
          var is_square = 'square';
          if (/Color|Colour/i.test(product.options[i])) {
            is_color = true;
          } 
          if (swatch_color_type == '2') {
            is_color = false;
            is_square = '';
          } 
          var optionValues = new Array();
          for (var j = 0; j < product.variants.length; j++) {
            var variant = product.variants[j];
            var value = variant.options[i];
            if(variant.featured_image && product_swatch_setting == '2'){ 
              var img = variant.featured_image.src.lastIndexOf("."); 
              var vimg = variant.featured_image.src.slice(0, img) + "_50x50_crop_center" + variant.featured_image.src.slice(img); 
            } 
            var valueHandle = convertToSlug(value);
            var forText = 'swatch-{{product.id}}-' + i + '-' + valueHandle; 
            if (optionValues.indexOf(value) < 0) {
              //not yet inserted
              options += '<div data-value="' + value + '" class="swatch-element '+is_square+' '+product_swatch_size+' '+(is_color ? "color" : "")+' ' + (is_color ? "color" : "") + valueHandle + (variant.available ? ' available ' : ' soldout ') + '">';

              if (is_color) {
                options += '<div class="tooltip">' + value + '</div>';
              }
              options += '<input id="' + forText + '" type="radio" name="option-' + i + '" value="' + value + '" ' + (j == 0 ? ' checked ' : '') + (variant.available ? '' : ' disabled') + ' />';

              if (is_color) {
                if(vimg && product_swatch_setting == '2'){ 
                  options += '<label for="' + forText + '" class="swatch-image" style="overflow:hidden;"><img src="' + vimg + '" class="variant-image" style="max-width:100%;" /><img class="crossed-out" src="' + assetUrl + 'soldout.png" /></label>';
                }else{
                  options += '<label for="' + forText + '" style="background-color: ' + valueHandle + '; background-image: url(' + filePath + valueHandle + '.png)"><img class="crossed-out" src="' + assetUrl + 'soldout.png" /></label>';
                }
              } else {
                options += '<label for="' + forText + '">' + value + '<img class="crossed-out" src="' + assetUrl + 'soldout.png" /></label>';
              }
              options += '</div>';
              if (variant.available) {
                $('.product-quick-view .swatch[data-option-index="' + i + '"] .' + valueHandle).removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
              }
              optionValues.push(value);
            }
          }
          options += '</div>';
        }  
        if(swatch_color_type == '1' || swatch_color_type == '2'){ 
          layout.find('form.product-form .product-options > select').after(options);
          layout.find('.swatch :radio').change(function() {
            var optionIndex = $(this).closest('.swatch').attr('data-option-index');
            var optionValue = $(this).val(); 
            $(this)
            .closest('form')
            .find('.single-option-selector')
            .eq(optionIndex)
            .val(optionValue)
            .trigger('change');
          }); 
        } 
        if (product.available) {
          Shopify.quickOptionsMap = {};
          Shopify.quickLinkOptionSelectors(product);
        }
        //end of quickview variant
      } else { //single variant
        layout.find('form.product-form .product-options > select').remove();
        var variant_field = '<input type="hidden" name="id" value="' + product.variants[0].id + '">';
        layout.find('form.product-form').append(variant_field);
      }
      {% endif %} 
    });
  </script>
</div>  